@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #7e56da;
    /* --secondary: #5d3cae; */
    --gray: #f3f5f9;
    --white: #ffffff;
    --black: #000000;
    --font-small: .8rem;
    --font-normal: 1rem;
    --font-big: 2rem;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: var(--font-normal);
}

a {
    color: var(--primary);
}

.title {
    font-size: var(--font-big);
    font-weight: bold;
    letter-spacing: 0.02rem;
}

.subtitle {
    color: #969699;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--white);
}
